name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Needed for uploading artifacts

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Docker Login
        run: |
          if [ -n "${{ secrets.DOCKER_USERNAME }}" ] && [ -n "${{ secrets.DOCKER_TOKEN }}" ]; then
            echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          else
            echo "Docker credentials not provided. Skipping Docker login."
          fi

      - name: Install Dependencies
        run: npm install

      - name: Run Integration Tests
        run: npm test

      - name: Run Application
        run: |
          nohup node index.js &  # Run in background so k6 and ZAP can access it
          sleep 5                # Give server time to start

      - name: Install k6
        run: |
          curl -s https://api.github.com/repos/grafana/k6/releases/latest |
          grep "browser_download_url.*k6-v.*-linux-amd64.tar.gz" |
          cut -d : -f 2,3 |
          tr -d \" |
          wget -qi -
          tar -xzf k6-v*-linux-amd64.tar.gz
          sudo mv k6-v*/k6 /usr/local/bin/

      - name: Run Performance Test
        run: k6 run loadtest.js

      
      - name: OWASP ZAP Security Scan
        run: |
             docker run -v $(pwd):/zap/wrk/:rw -t zaproxy/zap-stable zap-baseline.py \
             -t http://localhost:3000 -g gen.conf -r zap-report.html || true

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
             name: zap-report
             path: zap-report.html


      - name: OWASP ZAP Scan (GitHub Action)
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'http://localhost:3000'

      - name: SonarQube Scan
        run: sonar-scanner
