name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install k6
        run: |
            curl -s https://api.github.com/repos/grafana/k6/releases/latest |
            grep "browser_download_url.*k6-v.*-linux-amd64.tar.gz" |
            cut -d : -f 2,3 |
            tr -d \" |
            wget -qi -
            tar -xzf k6-v*-linux-amd64.tar.gz
            sudo mv k6-v*/k6 /usr/local/bin/

      - name: Install Dependencies
        run: npm install

      - name: Run Integration Tests
        run: npm test

      - name: Run Application
        run: node index.js
        
      - name: Run Performance Test
        run: k6 run loadtest.js

