name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install k6
        run: |
            curl -s https://api.github.com/repos/grafana/k6/releases/latest |
            grep "browser_download_url.*k6-v.*-linux-amd64.tar.gz" |
            cut -d : -f 2,3 |
            tr -d \" |
            wget -qi -
            tar -xzf k6-v*-linux-amd64.tar.gz
            sudo mv k6-v*/k6 /usr/local/bin/
      - name: OWASP ZAP Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
             target: 'http://your-app-url.com'



      - name: OWASP ZAP Security Scan
        run: |
              docker run -t owasp/zap2docker-stable zap-baseline.py \
              -t http://localhost:3000
      - name: Docker Login (Optional)
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
              
      - name: SonarQube Scan
        run: sonar-scanner

      - name: Install Dependencies
        run: npm install

      - name: Run Integration Tests
        run: npm test

      - name: Run Application
        run: node index.js
        
      - name: Run Performance Test
        run: k6 run loadtest.js

